* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

section {
  width: 100%;
  height: 20vh;
  background-size: cover;
  background-position: center;
}

section nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 10px #441882;
          box-shadow: 0 0 10px #441882;
  background: #fff;
  position: fixed;
  left: 0;
  z-index: 100;
}

section nav .logo img {
  width: 105px;
  cursor: pointer;
  margin: 8px 0;
}

section nav ul {
  list-style: none;
}

section nav li {
  display: inline-block;
  padding: 0 10px;
}

section nav li a {
  text-decoration: none;
  color: #000;
}

section nav li a:hover {
  color: #e600ff;
}

.arrivals {
  width: 100%;
  height: 100vh;
  margin-bottom: 35px;
}

.arrivals h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 35px;
}

.arrivals .arrivals_box {
  width: 95%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px 0;
}

.arrivals .arrivals_box .arrivals_card {
  width: 250px;
  height: 340px;
  text-align: center;
  padding: 5px;
  border: 1px solid #919191;
  margin: auto 20px;
}

.arrivals .arrivals_box .arrivals_card:hover {
  -webkit-box-shadow: 0 0 5px #a865a2;
          box-shadow: 0 0 5px #a865a2;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image {
  width: 150px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrivals .arrivals_box .arrivals_card:hover .arrivals_image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag p {
  font-family: queen of camelot;
  font-size: 20px;
  margin: 8px 0;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon {
  color: #451d51;
  margin-bottom: 18px;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn {
  padding: 8px 20px;
  border: 2px solid #532553;
  text-decoration: none;
  color: #000;
}

footer {
  margin-top: 2680px;
  width: 100%;
  background: #e0dbe4;
}

footer .footer_main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer_main .tag {
  margin: 10px 0;
}

footer .footer_main .tag img {
  width: 100px;
  margin-bottom: 10px;
}

footer .footer_main .tag p {
  width: 250px;
  line-height: 22px;
  text-align: justify;
}

footer .footer_main .tag h1 {
  font-size: 25px;
  margin: 25px 0;
  color: #000;
}

footer .footer_main .tag a {
  display: block;
  color: black;
  text-decoration: none;
  margin: 10px 0;
}

footer .footer_main .tag i {
  margin-right: 10px;
}

footer .footer_main .tag .social_link i {
  margin: 0 5px;
}

footer .footer_main .tag .search_bar {
  width: 230px;
  height: 30px;
  background: #fffcfc;
  border-radius: 25px;
}

footer .footer_main .tag .search_bar input {
  width: 200px;
  padding: 2px 0;
  position: relative;
  top: 17%;
  left: 6%;
  border: none;
  outline: none;
  font-size: 13px;
  background: none;
}

footer .footer_main .tag .search_bar button {
  padding: 7px 15px;
  background: #8e15eb;
  border: none;
  margin-top: 15px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

footer .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  color: #000;
}

footer .end span {
  color: #ab10e8;
  margin-left: 10px;
}
/*# sourceMappingURL=bookselling.css.map */